@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/* Shared Styles */
header,footer{
    max-width: 1440px;
    margin: 0 auto;
}
main,.about-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.experience-titles{
    max-width: 830px;
    margin: 6rem auto;
}
.experience-container,.resume-container{
    margin: 6rem auto;
}
.flex{
    display: flex;
}
.btn-primary{
    color: white;
    background-color: rgba(253, 110, 10, 1);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem 1.75rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    transform: scale(1.1);
}
.section-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
}
.section-subtitle{
    font-size: 1rem;
    color: rgba(117, 117, 117, 1);
    margin: 1.5rem 0;
}
.info-title{
    font-size: 1.25rem;
    font-weight: 700;
    color: rgba(71, 71, 71, 1);
}
.info-subtitle{
    font-size: 1.125rem;
    color: rgba(117, 117, 117, 1);
}

/* header styles */
header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left center,right bottom;
    margin-bottom: 3.5rem;
}

/* nav styles */
.nav-container{
    margin: 50px 200px;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 800;
}
.nav-link{
    font-size: 1.125rem;
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    margin-right: 3rem;
}

/* banner styles */
.banner{
    margin: 0 30px 0 200px;
    justify-content: space-between;
    align-items: center;
}
.banner-subtitle{
    font-size: 2.5rem;
    font-weight: 500;
    color: rgba(71, 71, 71, 1);
    margin-bottom: .5rem;
}
.banner-title{
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 5rem;
}
.contact-btn{
    color: rgba(253, 110, 10, 1);
    border: 2px solid rgba(253, 110, 10, 1);
    background: none;
    margin-left: 1rem;
}

/* About section styles */
.about-container{
    border-radius: 12px;
    background: rgb(255, 248, 243);
}
.about-content{
    max-width: 835px;
    margin: 6rem auto;
    padding: 4rem 0;
}
.info-container{
    justify-content: space-between;
    align-items: center;
}

/* experience section styles */
.card-container{
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: start;
}
.cards{
    max-width: 230px;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0;
}

/* Resume section styles */
.resume-content{
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: start;
    margin: 4rem 0;

}
.content-title{
    font-size: 1.85rem;
    font-weight: 700;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 2rem;
}
.info-cards{
    max-width: 500px;
    margin: 2rem 0;
}

/* footer section styles */
.footer{
    justify-content:space-evenly;
    background: rgb(255, 248, 243);
    border-radius: 12px;
    padding: 4rem;
}
.footer>div{
    max-width: 550px;
}
.contact-icons{
    justify-content: start;
    align-items: center;
    gap: 2rem;
}
.massage-box{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
form>.input{
    width: 350px;
    padding: 1rem 2rem;
}
